:root {
    --color-blue-heavy: #050C9C;
    --color-blue-medium: #3572EF;
    --color-blue: #3ABEF9;
    --color-blue-light: #A7E6FF;

    --color-white: #fff;
    --color-black: #0a0a0a;
    --color-grey: #f0f0f0;
}